name: manifest

on: pull_request

jobs:
  gen-matrix:
    runs-on: ubuntu-latest
    outputs:
      changed-dirs: ${{ steps.changed-files.outputs.all_changed_and_modified_files }}
    steps:
      - name: Get whether release-name dir changed
        id: changed-files
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        with:
          dir_names: "true"
          dir_names_exclude_current_dir: "true"
          dir_names_max_depth: 3
          matrix: "true"
          files: |
            apps/**

      # debug
      - name: List all changed dirs
        run: |
          echo '${{ steps.changed-files.outputs.all_changed_and_modified_files }}' | jq

  diff:
    needs: gen-matrix
    if: ${{ needs.gen-matrix.outputs.changed-dirs != '[]' }}
    strategy:
      matrix:
        changed-dir: ${{ fromJson(needs.gen-matrix.outputs.changed-dirs) }}
    uses: ./.github/workflows/reusable-diff.yml
    with:
      changed-dir: ${{ matrix.changed-dir }}

  polaris:
    needs:
      - gen-matrix
      - diff
    strategy:
      matrix:
        changed-dir: ${{ fromJson(needs.gen-matrix.outputs.changed-dirs) }}
    uses: ./.github/workflows/reusable-polaris.yml
    with:
      changed-dir: ${{ matrix.changed-dir }}

  kyverno:
    needs:
      - gen-matrix
      - diff
    if: ${{ needs.gen-matrix.outputs.changed-dirs != '[]' }}
    strategy:
      matrix:
        changed-dir: ${{ fromJson(needs.gen-matrix.outputs.changed-dirs) }}
    uses: ./.github/workflows/reusable-kyverno.yml
    with:
      changed-dir: ${{ matrix.changed-dir }}

  status-check:
    runs-on: ubuntu-latest
    needs:
    - gen-matrix
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
