on:
  workflow_call:
    inputs:
      changed-dir:
        required: true
        type: string
      artifact-dl-path:
        required: false
        type: string
        default: .manifest

jobs:
  kyverno:
    runs-on: ubuntu-latest
    steps:
      - name: get aqua.yaml
        run: |
          curl -LO https://raw.githubusercontent.com/mikutas/helmfiles/refs/heads/main/aqua.yaml
          cat aqua.yaml
          mv aqua.yaml ../

      - uses: mikutas/my-aqua-installer@main

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - run: mkdir ${{ inputs.artifact-dl-path }}

      - id: replace-slash
        run: |
          echo "name=$(echo ${{ inputs.changed-dir }} | sed 's/\//_/g')" >> $GITHUB_OUTPUT

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ steps.replace-slash.outputs.name }}
          path: ${{ inputs.artifact-dl-path }}

      - name: Show policy patches
        run: |
          yq 'del(.patches)' policies/kustomization.yaml >/tmp/kustomization.yaml
          dyff between --color=on <(kustomize build /tmp/) <(kustomize build policies)

      - name: Save kyverno policies
        run: |
          mkdir .policies
          kustomize build policies | tee .policies/kyverno-policies.yaml

      - name: kyverno apply (table)
        run: |
          kyverno apply \
          .policies/kyverno-policies.yaml \
          --continue-on-fail \
          --table \
          --resource ${{ inputs.artifact-dl-path }} || true

      - name: kyverno apply
        run: |
          kyverno apply \
          .policies/kyverno-policies.yaml \
          --continue-on-fail \
          --detailed-results \
          --resource ${{ inputs.artifact-dl-path }} || true

      - name: kyverno apply (json)
        env:
          ARTIFACT_DL_PATH: ${{ inputs.artifact-dl-path }}
        run: |
          kyverno apply \
          .policies/kyverno-policies.yaml \
          --continue-on-fail \
          --policy-report \
          --output-format json \
          -o mutated-generated/ \
          --resource ${{ env.ARTIFACT_DL_PATH }} | \
          sed 's/Mutation:\|Mutation has been applied successfully.//' | \
          tee /tmp/policy-report.json

      - name: Reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cat /tmp/policy-report.json | jq '[.results[] | select(.result!="pass" and .result!="skip")]' | jq '
          {
            source: { name: "Kyverno", url: "https://kyverno.io/" },
            diagnostics: . | map(
            {
              message: ("[Policy: " + .policy + "] " + .message),
              location: {
                path: (.resources[0].kind + "/" + .resources[0].name),
                range: {
                  start: { line: 1 }
                }
              },
              severity: (
                if .result == "fail" then "ERROR"
                elif .result == "warn" then "WARNING"
                else "INFO"
                end
              )
            })
          }
          ' > report.rdjson
          # reviewdogは基本的に終了コード0だが GitHub limitation for annotation が発生した場合1になるため、|| trueを付ける
          cat report.rdjson | reviewdog -name kyverno -f=rdjson -filter-mode=nofilter -reporter=github-pr-annotations || true
