on:
  workflow_call:
    inputs:
      changed-dir:
        required: true
        type: string
      artifact-dl-name:
        required: false
        type: string
      artifact-dl-path:
        required: false
        type: string

jobs:
  diff:
    runs-on: ubuntu-latest
    steps:
      - name: get aqua.yaml
        run: |
          curl -LO https://raw.githubusercontent.com/mikutas/helmfiles/refs/heads/main/aqua.yaml
          cat aqua.yaml
          mv aqua.yaml ../

      # actions/checkout -> aquaproj/aqua-installer
      - uses: mikutas/my-aqua-installer@main

      - if: inputs.artifact-dl-name
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ inputs.artifact-dl-name }}
          path: ${{ inputs.artifact-dl-path }}

      - uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        id: chart-yaml
        with:
          files: ${{ inputs.changed-dir }}/Chart.yaml

      - if: ${{ steps.chart-yaml.outputs.files_exists == 'true' }}
        run: |
          helm dependency update ${{ inputs.changed-dir }}
          helm template ${{ inputs.changed-dir }} > /tmp/pr.yaml

      - if: ${{ steps.chart-yaml.outputs.files_exists == 'false' }}
        run: |
          helmfile -f ${{ inputs.changed-dir }}/helmfile.yaml template | tee /tmp/pr.yaml

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
          clean: false
          path: .base-branch

      - if: ${{ steps.chart-yaml.outputs.files_exists == 'true' }}
        run: |
          helm dependency update ./.base-branch/${{ inputs.changed-dir }}
          helm template ./.base-branch/${{ inputs.changed-dir }} > /tmp/main.yaml || true

      - if: ${{ steps.chart-yaml.outputs.files_exists == 'false' }}
        run: |
          helmfile -f ./.base-branch/${{ inputs.changed-dir }}/helmfile.yaml template | tee /tmp/main.yaml || true

      - id: replace-slash
        run: |
          echo "name=$(echo ${{ inputs.changed-dir }} | sed 's/\//_/g')" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ steps.replace-slash.outputs.name }}
          path: |
            /tmp/pr.yaml

      - run: |
          diff -u /tmp/main.yaml /tmp/pr.yaml --color=always || true

      - name: dyff
        run: |
          opt=""
          if [ -e ${{ inputs.changed-dir }}/.dyff-exclude-regexp ]; then
            opt="--exclude-regexp=\"$(head -n 1 ${{ inputs.changed-dir }}/.dyff-exclude-regexp)\""
          fi
          dyff between /tmp/main.yaml /tmp/pr.yaml --color=on $opt || true
